<html>
  <head>
    {% include 'scripts.html' %}
    {% include 'styles.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/moment.min.js"></script>

    {% block head %}
      <title>Thread</title>
    {% endblock %}
  </head>

  {% block scripts %}
  {% endblock %}

  <body>
    <div class="header-background"></div>
    {% include "modules/navbar.html" %}

    <!-- <div class="asterisk">✽</div> -->

    <div class="content-border"></div>
    <div id="content">
      <!-- <div class="separator"></div> -->
      {% block content %}
      {% endblock %}
    </div>

    <div id="footer">
      ,=,e
    </div>
  </body>
</html>
