Welcome to your bookmarks page! This page is private to you. If you came here from an email, you might be looking for the page about you: {{ absolute_url(url_for('page', title=g.user.email)) }}

<h2>What is this place?</h2>
<div>
  This is Thread! It's a wiki for you and your friends (and their friends, and their friends' friends). Editing is anonymous, because the focus should be on what you're writing, not on who's writing it. Think of it as an online public directory that anybody (who's in the directory) can edit.
</div>
<br>
<div>
  <!-- TODO: this is confusing -->
  You can search for your friends to see what other people have written about them. The title of a person's page always starts out as their email, so if nothing is coming up for their name, try searching for their .edu email instead. (You can't make pages for people without .edu emails).
</div>
<br>
<div>
  <!-- TODO: add less generic examples -->
  You can also make pages for things that are not people. Make a page for a club or reading group, and link to the people who are a part of it. Or make a page for a class and link to its syllabus and course reviews. Or even make pages reviewing books that you've liked, or games that you recommend. In this function, Thread is more of a shared notebook that people can write together.
</div>

<h3>Suggestions</h3>
<div>
  <!-- TODO: something about why it's like this? -->
  On your personal page, edits made by other people are marked as suggestions surrounded by brackets. You can then accept the latest suggested version, removing the brackets and giving it your stamp of approval, or you can restore an earlier version and get rid of the suggestions.
</div>

<h3>Backlinks</h3>
<div>
  Whenever you link from one page to another, a backlink is automatically added in the other direction. This helps keep pages connected to one another.
</div>

<h3>Flags</h3>
<div>
  If you see some vandalism on a page, go to the version history and flag the edit in question. Then if two different people flag two different edits by the same person, they get auto-banned for a bit.
</div>

<h3>This page</h3>
<div>
  This is your bookmarks page, and it's private to you. When you add a bookmark, it's automatically added at the bottom. Then you can organize it into a section later.
</div>
<br>
<div>
  Feel free to delete all of this placeholder text and replace it with actual bookmarks, because you can always find it again in the version history.
</div>

<h3>Editing</h3>
<div>
  Every section has a small edit button next to it, which you can use to edit just that section. For bigger changes (adding sections, etc.), you can go to the actual edit page, which makes the whole page editable.
</div>

<h2>Unsorted bookmarks</h2>
<div>
  Bookmarks that are automatically added (by clicking a bookmark button) will show up here:
</div>
