Welcome to your bookmarks page! This the only page that's private to you. If you came here from an email, you might be looking for the page about you: <a href="{{ absolute_url(url_for('page', title=g.user.email)) }}">{{ g.user.email }}</a>

<h2>What is this place?</h2>
<div>
  This is Thread! It's a wiki for you and your friends (and their friends, and their friends' friends). Editing is anonymous, because the focus should be on what you're writing, not on who's writing it. Think of it as an online public directory that anybody (who's in the directory) can edit.
</div>
<br>
<div>
  You can also make pages for things that are not people. Make a page for a club or reading group, and link to the people who are a part of it. Or make a page for a class and link to its syllabus and course reviews. In this function, Thread is more of a shared notebook that people can write together.
</div>

<h3>Suggestions</h3>
<div>
  On your personal page, edits made by other people are marked as suggestions surrounded by brackets. You can then accept the latest suggested version, removing the brackets and giving it your stamp of approval, or you can restore an earlier version and get rid of the suggestions.
</div>

<h3>Backlinks</h3>
<div>
  Whenever you link from one page to another, a backlink is automatically added in the other direction. This helps keep pages connected to one another.
</div>

<h3>Flags</h3>
<div>
  Editing is anonymous, so there aren't the usual social pressures to be nice. If you see some vandalism on a page, go to the version history and flag the edit in question. If two different people flag two different edits by the same person, they get auto-banned for a bit.
</div>

<h3>This page</h3>
<div>
  This is your bookmarks page. It's the only page that's private to you. When you add a bookmark, it's automatically added at the bottom. Lists of links are no good, though, so you should occasionally organize your bookmarks in sections like these.
</div>

<h3>Editing</h3>
<div>
  Every section has a small edit button next to it, and you should use this for small edits. For bigger changes (adding sections, etc.), you should go to the actual edit page, which makes the whole page editable.
</div>

<h2>Pages for my friends</h2>
<div>
  Maybe put your friends' pages here.
</div>

<h2>Classes to take</h2>
<div>
  How about a list of classes you want to take? (If there isn't a page for one of your classes, make it!)
</div>

<h2>Unsorted bookmarks</h2>
<div>
  Bookmarks that are automatically added (by clicking a bookmark button) will show up here:
</div>
