{% extends 'base-page.html' %}
{% block head %}
  <title>Bookmarks - Thread</title>
{% endblock %}

{% block content %}
  <h1>Bookmarks</h1>
  {% from 'page-utils.html' import moment_timestamp %}
  <h3 class="version-timestamp">{{ moment_timestamp(version.timestamp) }}</h3>

  <nav>
    <a href="{{ url_for('edit_bookmarks') }}">Edit page</a>
    <a href="{{ url_for('bookmarks_history') }}">History</a>
    <a href="{{ url_for('bookmarks') }}">Latest version</a>
  </nav>

  <div>{{ version.summary|safe }}</div>

  {% for section in version.sections %}
    {% from 'page-utils.html' import header_at_level %}
    {{ header_at_level(section.heading, section.level) }}
    <div>{{ section.body|safe }}</div>
  {% endfor %}
{% endblock %}
