{% extends 'base-page.html' %}
{% block head %}
  <title>History: Bookmarks - Thread</title>
  {% include 'diff-styles.html' %}
{% endblock %}

{% block scripts %}
  <script>
    function restore(num, errorid) {
      signal("{{ url_for('restore_bookmarks', title=g.page.title) }}", {
        num: num,
        href: window.location.href,
        errorid: errorid,
      });
    }
  </script>
{% endblock %}

{% block content %}
  <h1>History: Bookmarks</h1>
  <nav>
    <a href="{{ url_for('bookmarks') }}">Back</a>
  </nav>

  {% from 'page-utils.html' import moment_timestamp %}
  {% for num in reversed(range(len(g.page.versions))) %}
    {% set version = g.page.versions[num] %}
    {% set diff = g.page.diffs[num] %}
    {% set errorid = "error-version-{}".format(num) %}
    <nav class="history">
      <span class="timestamp">{{ moment_timestamp(version.timestamp) }}</span>
      {% if num != len(g.page.versions) - 1 %}
        <button type="button" onclick="restore({{ num }}, '{{ errorid }}')">Restore</button>
      {% endif %}
      <a href="{{ url_for('bookmarks_version', num=num) }}">View</a>
    </nav>
    <div class="error-block" id="{{ errorid }}"></div>

    {% include 'topic-page-diff.html' %}
    {% if num != 0 %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
