<html>
  <head>
    <title>Bookmarks - Thread</title>
    {% include 'scripts.html' %}
  </head>

  <body>
    {% include "modules/navbar.html" %}

    <h1>Bookmarks</h1>
    <h3>{{ version.timestamp }}</h3>

    <a href="{{ url_for('edit_bookmarks') }}">Edit page</a>
    <a href="{{ url_for('bookmarks_history') }}">History</a>
    <a href="{{ url_for('bookmarks') }}">Latest version</a>

    <div>{{ version.summary|safe }}</div>

    {% for section in version.sections %}
      {% from 'page-utils.html' import header_at_level %}
      {{ header_at_level(section.heading, section.level) }}
      <div>{{ section.body|safe }}</div>
    {% endfor %}
  </body>
</html>
