{% extends 'base-page.html' %}
{% block head %}
  <title>Bookmarks - Thread</title>
{% endblock %}

{% block scripts %}
  <script>
    function swap(to_hide, to_show) {
      document.getElementById(to_hide).setAttribute('hidden', true);
      document.getElementById(to_show).removeAttribute('hidden');
    }

    function update(update, errorid) {
      signal("{{ url_for('update_bookmarks', title=g.page.title) }}", {
        update: update,
        errorid: errorid,
      }).then((response) => {
        window.freshness = response.freshness;
      });
    }

    function get_summary() {
      return {
        summary: document.getElementById('summary-body').innerHTML,
      };
    }

    function get_section(idx) {
      sections = {};
      sections[idx] = document.getElementById('section-' + idx + '-body').innerHTML;
      return {sections: sections};
    }
  </script>
{% endblock %}

{% block content %}
  <h1>Bookmarks</h1>

  <nav>
    <a href="{{ url_for('edit_bookmarks') }}">Edit page</a>
    <a href="{{ url_for('bookmarks_history') }}">History</a>
  </nav>

  <div id="summary">
    {% include 'bookmarks-page-summary.html' %}
  </div>

  {% from 'page-utils.html' import moment_from_now %}
  {% if len(pages) != 0 %}
    <div class="bookmark-updates">
      <h4>Recently edited:</h4>
      <ul>
        {% for page in pages %}
          <li>
          {% if isinstance(page, UserPage) %}
            {% set diff = page.diffs[-1] %}
            <a href="{{ url_for('page', title=page.title) }}">
              {{ diff.name }}
            </a> - <span class="timestamp">{{ moment_from_now(page.versions[-1].timestamp) }}</span>
          {% elif isinstance(page, TopicPage) %}
            {% set diff = page.diffs[-1] %}
            <a href="{{ url_for('page', title=page.title) }}">
              {{ diff.name }}
            </a> - <span class="timestamp">{{ moment_from_now(page.versions[-1].timestamp) }}</span>
          {% endif %}
        {% endfor %}
        </li>
      </ul>
    </div>
  {% endif %}

  {% for idx, section in enumerate(display.sections) %}
    <div id="section-{{ idx }}">
      {% include 'bookmarks-page-section.html' %}
    </div>
  {% endfor %}
{% endblock %}
