Welcome to your bookmarks page!

<h2>What is this place?</h2>
This is Thread! It's a wiki for you and your friends. You can edit (almost) everything you see, including this page! Which you better be able to do, because this is where you should put links to pages you want to keep track of.

<h2>Pages for my friends</h2>
Maybe put your friends' pages here.

<h2>Classes to take</h2>
How about a list of classes you want to take? (If there isn't a page for one of your classes, make it!)

<h2>Unsorted bookmarks</h2>
Bookmarks that are automatically added (by clicking a bookmark button) will show up here:
