<style>
  .markupnote {
    color: #686b91;
    color: #333;
  }
  .markupnote:before {
    content: "[";
  }
  .markupnote:after {
    content: "]";
  }
  .timestamp {
    font-size: 20;
    font-weight: bold;
    margin-right: 5px;
  }
  ins {
    color: rgb(5, 193, 160);
    color: rgb(0, 189, 180);
    color: rgb(85, 69, 164);
    color: rgb(86, 55, 242);
    color: rgb(137, 0, 255);
    color: #686b91;
    color: #737ce3;
    text-decoration: underline;

    /* color: #7b97c7; */
    color: #8892ff;
    color: #32b592;
    color: #21c1a5;

    color: #004085;
    color: #7926ff;
    color: #5524ff;
  }
  del {
    color: #686b91;
    color: #a4a4a4;
  }
  ins img {
    /* border: 3px solid rgb(70, 232, 209); */
  }
  del img {
    opacity: 0.5;
  }

  .diff-block {
    margin-bottom: 10px;
  }

</style>

