<html>
  <head>
    <title>Edit: {{ version.content.heading }} - Thread</title>
    {% include 'scripts.html' %}
  </head>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <h1>
      {% if page['type'] == 'user' %}
        <span id="heading" contenteditable=true>{{ version.content.heading }}</span>, AKA "<span id="nickname" contenteditable=true>{{ version.content.nickname }}</span>"
      {% elif page['type'] == 'topic' %}
        <span id="heading" contenteditable=true>{{ version.content.heading }}</span>
      {% endif %}
    </h1>
    <a href="{{ url_for('page', title=title) }}">Back</a>
    <div id="pagebody" contenteditable="true">
      {{ version.content.summary|safe }}

      {% from 'page-utils.html' import header_at_level %}
      {% for section in version.content.sections %}
        {{ header_at_level(section.header, section.level) }}
        {{ section.body|safe }}
      {% endfor %}
    </div>
    <button type="button" onclick="submitedit(event)">Submit edit</button>
    <div id="editerror"></div>

    <script>
      function submitedit(event) {
        event.preventDefault();
        signal("{{ url_for('submitedit', title=title) }}", {
          body: document.getElementById("pagebody").innerHTML,
          heading: document.getElementById("heading").innerText,
          {% if page['type'] == 'user' %}
            nickname: document.getElementById("nickname").innerText,
          {% endif %}
          num: {{ version.num }},
        });
      }
    </script>

  </body>
</html>
