<div>
  <button type="button" class="edit" onclick="execCommand('formatBlock', false, '<div>')">p</button>
  <button type="button" class="edit" onclick="execCommand('formatBlock', false, '<h2>')">s1</button>
  <button type="button" class="edit" onclick="execCommand('formatBlock', false, '<h3>')">s2</button>
  <button type="button" class="edit" onclick="execCommand('formatBlock', false, '<h4>')">s3</button>
  <!-- <button type="button" class="edit" onclick="execCommand('formatBlock', false, '<h5>')">s4</button> -->
</div>
