<html>
  <head>
    <title>Edit: {{ version.name }} - Thread</title>
    {% include 'scripts.html' %}

    <script>
      function submitedit() {
        signal("{{ url_for('submitedit', title=g.page.title) }}", {
          body: document.getElementById("body").innerHTML,
          name: document.getElementById("name").innerText,
          aka: document.getElementById("aka").innerText,
          freshness: {{ g.page.freshness }},
          errorid: 'error-edit',
        });
      }
    </script>
  </head>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <h1>
      <span id="name" contenteditable="true">{{ version.name }}</span>, AKA "<span id="aka" contenteditable="true">{{ version.aka }}</span>"
    </h1>
    <a href="{{ url_for('page', title=g.page.title) }}">Back</a>
    <div id="body" contenteditable="true">
      {{ version.summary|safe }}

      {% from 'page-utils.html' import header_at_level %}
      {% for section in version.sections %}
        {{ header_at_level(section.header, section.level) }}
        {{ section.body|safe }}
      {% endfor %}
    </div>
    <button type="button" onclick="submitedit()">Submit edit</button>
    <div id="error-edit"></div>
  </body>
</html>
