{% extends 'base-page.html' %}
{% block head %}
  <title>Edit: {{ version.name }} - Thread</title>
{% endblock %}

{% block scripts %}
  <script>
    function submitedit() {
      signal("{{ url_for('submitedit', title=g.page.title) }}", {
        body: document.getElementById("body").innerHTML,
        name: document.getElementById("name").innerText,
        aka: document.getElementById("aka").innerText,
        freshness: {{ g.page.freshness }},
        errorid: 'error-edit',
      });
    }
  </script>
{% endblock %}

{% block content %}
  <h1>
    <span id="name" contenteditable="true">{{ version.name }}</span>, AKA "<span id="aka" contenteditable="true">{{ version.aka }}</span>"
  </h1>
  <nav>
    <a href="{{ url_for('page', title=g.page.title) }}">Back</a>
  </nav>
  {% include 'edit-buttons.html' %}
  <div id="body" contenteditable="true">
    {{ version.summary|safe }}

    {% from 'page-utils.html' import header_at_level %}
    {% for section in version.sections %}
      {{ header_at_level(section.heading, section.level) }}
      {{ section.body|safe }}
    {% endfor %}
  </div>
  <button type="button" class="submit" onclick="submitedit()">Submit edit</button>
  <div id="error-edit"></div>
{% endblock %}
