{% extends 'base-page.html' %}
{% block head %}
  <title>Edit: Bookmarks - Thread</title>
{% endblock %}

{% block scripts %}
  <script>
    function submitedit() {
      signal("{{ url_for('bookmarks_submitedit') }}", {
        body: document.getElementById("body").innerHTML,
        errorid: 'error-edit',
      });
    }
  </script>
{% endblock %}

{% block content %}
  <h1>Bookmarks</h1>
  <a href="{{ url_for('bookmarks') }}">Back</a>
  {% include 'edit-buttons.html' %}
  <div id="body" contenteditable="true">
    {{ version.summary|safe }}

    {% from 'page-utils.html' import header_at_level %}
    {% for section in version.sections %}
      {{ header_at_level(section.heading, section.level) }}
      {{ section.body|safe }}
    {% endfor %}
  </div>
  <button type="button" class="submit" onclick="submitedit()">Submit edit</button>
  <div class="error-block" id="error-edit"></div>
{% endblock %}
