<html>
  <head>
    <style>
      h3 {
        color: black;
        margin-bottom: 0;
      }

      #visit {
        background-image: linear-gradient(-180deg, #6f6ecc, #331bed);
        font-weight: bold;
        border: 1px solid hsl(220, 78%, 29%);

        font-size: 14pt;
        padding: 6px 18px;
        border-radius: 4px;
        font-size: 10pt;

        color: white;
        margin: 8px 0;
        text-decoration: none;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h3>Follow the link below to sign in:</h3>
    <div class="centered">
      <a id="visit" href="{{ absolute_url(token_url_for(user, 'bookmarks')) }}">
        Sign in
      </a>
    </div>
  </body>
</html>
