<script>
  function restore(num, errorid) {
    signal("{{ url_for('restore', title=g.page.title) }}", {
      num: num,
      freshness: {{ g.page.freshness }},
      href: window.location.href,
      errorid: errorid,
    });
  }

  function flag(num, errorid) {
    signal("{{ url_for('flag', title=g.page.title) }}", {
      num: num,
      href: window.location.href,
      errorid: errorid,
    });
  }

  function unflag(num, errorid) {
    signal("{{ url_for('unflag', title=g.page.title) }}", {
      num: num,
      href: window.location.href,
      errorid: errorid,
    });
  }
</script>
