{% if page['type'] == 'user' %}
  <div id="summary-diff">{{ version.primarydiff.summary|safe }}</div>
{% elif page['type'] == 'topic' %}
  <div id="summary-diff">{{ version.content.summary|safe }}</div>
{% endif %}
<div id="summary-body" contenteditable="true" hidden="true">{{ version.content.summary|safe }}</div>
{% if not hidebuttons %}
  {% if is_owner(page) and not version.isprimary %}
    <button type="button" onclick="restore('{{ url_for('restore', title=title, num=version.num) }}')">Accept this version</button>
  {% elif can_edit(page) %}
    <button type="button" id="edit-summary" onclick="editsummary('{{ url_for('summaryedit', title=title) }}')">Edit</button>
  {% endif %}
{% endif %}
<div id="summaryerror"></div>
