<html>
  <head>
    <title>{{ version.content.heading }} - Thread</title>
    {% include 'scripts.html' %}
    {% include 'diffstyles.html' %}
  </head>

  <script>
    window.num = {{ version.num }};

    function editelem(buttonid, plainid, diffid, url) {
      let button = document.getElementById(buttonid);
      if (button.innerText == 'Edit') {
        button.innerText = 'Done';
        document.getElementById(plainid).removeAttribute('hidden');
        document.getElementById(diffid).setAttribute('hidden', true);
      } else {
        signal(url, {
          body: document.getElementById(plainid).innerHTML,
          num: window.num,
        }).then((response) => {
          if (response.num) {
            window.num = response.num;
          }
          if (response.done) {
            button.innerText = 'Edit';
            document.getElementById(plainid).setAttribute('hidden', true);
            document.getElementById(diffid).removeAttribute('hidden');
          }
        });
      }
    }

    function editsection(idx, url) {
      editelem("edit-section-" + idx, 'section-body-' + idx, 'section-diff-' + idx, url);
    }

    function editsummary(url) {
      editelem('edit-summary', 'summary-body', 'summary-diff', url);
    }

    function editheading(url) {
      let button = document.getElementById('edit-heading');
      if (button.innerText == 'Edit name') {
        button.innerText = 'Done';
        document.getElementById('heading-body').removeAttribute('hidden');
        document.getElementById('heading-diff').setAttribute('hidden', true);
      } else {
        signal(url, {
          heading: document.getElementById('heading-content').innerHTML,
          {% if page['type'] == 'user' %}
            nickname: document.getElementById('nickname-content').innerHTML,
          {% endif %}
          num: window.num,
        }).then((response) => {
          if (response.num) {
            window.num = response.num;
          }
          if (response.done) {
            button.innerText = 'Edit name';
            document.getElementById('heading-body').setAttribute('hidden', true);
            document.getElementById('heading-diff').removeAttribute('hidden');
          }
        });
      }
    }

    function restore(url) {
      signal(url, {
        num: {{ version.num }},
        href: window.location.href,
      });
    }

    function freeze(url) {
      signal(url);
    }

    function unfreeze(url) {
      signal(url);
    }
  </script>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <div id="heading">
      {% if page['type'] == 'user' %}
        {% include 'user-heading.html' %}
      {% elif page['type'] == 'topic' %}
        {% include 'topic-heading.html' %}
      {% endif %}
    </div>

    {% if can_edit(page) %}
      <a href="{{ url_for('edit', title=title) }}">Edit page</a>
      <a href="{{ url_for('history', title=title) }}">History</a>
    {% endif %}

    {% if is_owner(page) %}
      {% if page.isfrozen %}
        <button type="button" onclick="unfreeze('{{ url_for('unfreeze', title=title) }}')">Unfreeze page</button>
      {% else %}
        <button type="button" onclick="freeze('{{ url_for('freeze', title=title) }}')">Freeze page</button>
      {% endif %}
    {% endif %}

    <div id="summary">
      {% include 'page-summary.html' %}
    </div>

    {% for section in version.primarydiff.sections %}
      <div id="section-{{ section.idx }}">
        {% include 'page-section.html' with section=section %}
      </div>
    {% endfor %}

  </body>
</html>
