{% extends 'base-page.html' %}
{% block head %}
  <title>Recent Edits - Thread</title>
  {% include 'diff-styles.html' %}
{% endblock %}

{% block content %}
  <div class="recent">
    <h1>Recent Edits</h1>

    {% from 'page-utils.html' import moment_from_now %}
    {% for i, page in enumerate(pages) %}
      {% if isinstance(page, UserPage) %}
        {% set diff = page.diffs[-1] %}
        <h2><a href="{{ url_for('page', title=page.title) }}">
          {{ diff.name }} ({{ diff.aka }})
        </a></h2>
        <div class="recent-timestamp">{{ moment_from_now(page.last_edited) }}</div>
        {% include 'user-page-diff.html' %}
      {% elif isinstance(page, TopicPage) %}
        {% set diff = page.diffs[-1] %}
        <h2><a href="{{ url_for('page', title=page.title) }}">
          {{ diff.name }}
        </a></h2>
        <div class="recent-timestamp">{{ moment_from_now(page.last_edited) }}</div>
        {% include 'topic-page-diff.html' %}
      {% endif %}
      {% if i != len(pages) - 1 %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
