<script>
  // make safari fully refresh on back arrow
  (function () {
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    };
  })();

  function post(url, body) {
    return fetch(url, {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      credentials: "same-origin",
      body: JSON.stringify(body),
    }).then(res => res.json());
  }

  function rerender(elements) {
    Object.entries(elements).forEach(([id, html]) => {
      let element = document.getElementById(id);
      if (element) {
        element.innerHTML = html;
      }
    });
  }

  function signal(url, body) {
    return post(url, body).then(data => {
      if (data.redirect) {
        window.location.href = data.redirect;
        return;
      }
      if (data.html) {
        rerender(data.html);
      }
      if (data.response) {
        return data.response;
      }
    });
  }

  function login(event) {
    event.preventDefault();
    let form = document.getElementById("login-form");
    signal("{{ url_for('authenticate') }}", {
        email: form.elements["email"].value,
        password: form.elements["password"].value,
        href: window.location.href,
        errorid: 'error-login',
    });
  }

  function forgotpassword() {
    let form = document.getElementById("login-form");
    signal("{{ url_for('forgotpassword') }}", {
        email: form.elements["email"].value,
        href: window.location.href,
        errorid: 'error-login',
    });
  }

  function setpassword(event) {
    event.preventDefault();
    let form = document.getElementById("password-form");
    signal("{{ url_for('setpassword') }}", {
        password: form.elements["password"].value,
        href: window.location.href,
        errorid: 'error-login',
    });
  }

  function resetpassword() {
    signal("{{ url_for('resetpassword') }}", {
        href: window.location.href,
        errorid: 'error-login',
    });
  }

  function logout() {
    signal("{{ url_for('logout') }}", {href: window.location.href});
  }

  function search(event) {
    event.preventDefault();
    let form = document.getElementById("search-form");
    signal("{{ url_for('submitsearch') }}", {
        query: form.elements["query"].value,
    });
  }
</script>
