<script>
  function post(url, body) {
    return fetch(url, {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      credentials: "same-origin",
      body: JSON.stringify(body),
    }).then(res => res.json());
  }

  function rerender(elements, inner) {
    Object.entries(elements).forEach(([id, html]) => {
      let element = document.getElementById(id);
      if (element) {
        if (inner) {
          element.innerHTML = html;
        } else {
          element.outerHTML = html;
        }
      }
    });
  }
</script>
