<script>
  // make safari fully refresh on back arrow
  (function () {
    window.onpageshow = function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    };
  })();

  function post(url, body) {
    return fetch(url, {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      credentials: "same-origin",
      body: JSON.stringify(body),
    }).then(res => res.json());
  }

  function rerender(elements) {
    Object.entries(elements).forEach(([id, html]) => {
      let element = document.getElementById(id);
      if (element) {
        element.innerHTML = html;
      }
    });
  }

  function signal(url, body) {
    return post(url, body).then(data => {
      if (data.redirect) {
        window.location.href = data.redirect;
        return;
      }
      if (data.html) {
        rerender(data.html);
      }
      if (data.response) {
        return data.response;
      }
    });
  }
</script>
