{% extends 'base-page.html' %}
{% block head %}
  <title>"{{ query }}" - Thread</title>
{% endblock %}

{% block content %}
  <h1>Search results for "{{ query }}"</h1>

  {% if can_create %}
    <a href="{{ url_for('page', title=title_to_create) }}">Create a page called "{{ query }}" (if this is a person, make a page for their .edu email address instead so they can moderate it)</a>
  {% endif %}

  {% if len(pages) == 0 %}
    <p>No search results found :(</p>
  {% else %}
    {% for i, page in enumerate(pages) %}
      {% if isinstance(page, UserPage) %}
        {% set version = page.versions[-1] %}
        <h2><a href="{{ url_for('page', title=page.title) }}">
          {{ version.name }} ({{ version.aka }})
        </a></h2>
        {{ version.summary|safe }}
      {% elif isinstance(page, TopicPage) %}
        {% set version = page.versions[-1] %}
        <h2><a href="{{ url_for('page', title=page.title) }}">
          {{ version.name }}
        </a></h2>
        {{ version.summary|safe }}
      {% endif %}
      {% if i != len(pages) - 1 %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
