<style>
  html {
    min-height: 100%;
  }

  body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    /* background-image: linear-gradient(-180deg, rgb(246, 247, 248), white);
    background-size: 100% 200px;
    background-repeat: no-repeat; */
  }

  #content {
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1300px;
    align-items: flex-start;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 5px;
    color: black;
  }

  h1 {
    margin-top: 0;
  }

  .recent h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20pt;
  }

  .diff h2, .diff h3, .diff h4, .diff h5, .diff h6 {
    margin-top: 0px;
    color: inherit;
  }

  .diff h2 {
    font-size: 16pt;
  }

  input {
    -webkit-appearance: none;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #a9b3bf;
    border: none;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  nav.history {
    margin-bottom: 5px;
  }

  a {
    color: rgb(18, 105, 211);
    color: rgb(19, 88, 227);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: rgb(110, 120, 130);
  }

  nav a {
    /* color: rgb(31, 134, 107); */
    margin-left: 2px;
    margin-right: 2px;
  }

  nav a:first-child {
    margin-left: 0;
  }

  nav {
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }
  
  .action-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12pt;
  }

  nav em {
    color: rgb(100, 54, 255);
    color: rgb(82, 68, 208);
    font-style: normal;
  }

  header {
    font-size: 11pt;
    font-weight: bold;
    background-color: rgb(36, 41, 46);
    background-color: rgb(4, 23, 41);
    background-color: rgb(36, 41, 46);
    background-color: rgb(32, 39, 46);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    padding: 5px;

    /* dark purple */
    border-bottom: solid 4px rgb(86, 63, 122);

    /* bright purple */
    /* border-bottom: solid 4px rgb(129, 66, 227); */
    /* border-bottom: solid 4px rgb(116, 63, 199); */
    border-bottom: solid 4px rgb(99, 41, 190);

    /* dark grey */
    border-bottom: solid 4px rgb(82, 100, 113);

    /* incognito */
    background-color: rgb(246, 247, 248);
    border-bottom: solid 1px rgb(207, 216, 222);
    border-width: 0px;
    /* box-shadow: 0 0px 5px rgba(50, 40, 30, 0.4); */
    background-image: linear-gradient(-180deg, rgb(246, 247, 248), white);

    background-image: linear-gradient(-180deg, rgb(238, 239, 248), white);

    background: transparent;
  }

  .header-top {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
  }

  #footer {
    text-align: center;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  .emoticon {
    color: black;
    padding-top: 6px;
    /* padding-left: 10px;
    padding-right: 30px; */
  }

  .logout-block {
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
  }

  .logout-block > :first-child {
    margin-left: 0px;
  }

  .header-links {
    margin-bottom: 20px;
    /* margin-right: 20px; */
    padding-top: 6px;
    padding-left: 6px;
    text-align: center;
  }

  .header-links > :first-child {
    margin-left: 0;
  }

  .header-links > :last-child {
    margin-right: 0;
  }

  .login-module {
    margin-bottom: 5px;
    margin-left: auto;
    padding-left: 6px;
    margin-right: 5px;
    margin-top: 1px;
  }

  div.bookmark-updates {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    border: 1px #AAA solid;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 20px;
    align-self: flex-start;
  }

  div.bookmark-updates ul {
    margin: 0;
    padding-left: 20px;
  }

  div.bookmark-updates h4 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }

  div.bookmark-updates .timestamp {
    color: #777;
  }

  .recent-timestamp {
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
  }

  .version-timestamp {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  header a {
    color: rgb(220, 240, 255);
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;

    /* incognito */
    color: rgb(62, 68, 80);
    /* font-weight: normal; */
  }

  /* header a:before {
    content: '[';
  }

  header a:after {
    content: ']';
  } */

  header a:hover {
    color: rgb(232, 232, 172);
    color: rgb(200, 220, 245);
    text-decoration: none;

    /* purple */
    color: rgb(82, 68, 208);
  }

  header a:active {
    color: rgb(232, 232, 172);
    color: rgb(180, 200, 225);

    /* dark purple */
    color: rgb(75, 65, 166);
  }


  header button {
    color: rgb(110, 120, 130);
    color: rgb(95, 111, 126);
    border: none;
    background-color: transparent;
    font-size: 12pt;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    transition: color 0.2s;
  }

  header button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(159, 79, 219);
    color: rgb(150, 79, 219);
    color: rgb(183, 110, 255);
    color: rgb(141, 74, 250);

    color: rgb(74, 250, 220);

    /* purple */
    color: rgb(82, 68, 208);
  }

  header button:active {
    /* color: rgb(110, 120, 130); */
    /* dark purple */
    color: rgb(75, 65, 166);
  }

  img {
    max-width: 200px;
    margin: 10px 0px;
  }

  .form-row {
    display: inline-block;
  }

  .user-email {
    color: rgb(220, 240, 255);
    font-weight: normal;
  }

  header #login-form {
    color: rgb(220, 240, 255);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    color: rgb(62, 68, 80);
  }

  header #login-form input {
    background-color: rgb(83, 88, 92);
    background-color: rgb(46, 56, 64);
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 3px 5px;
    transition: background-color 0.4s, color 0.4s;

    /* light */
    background-color: rgb(235, 239, 247);

    background-color: white;
    border: 1px solid #DDD;
    color: black;
  }

  header #login-form input:hover {
    /* border-color: rgb(213, 223, 255); */
    background-color: rgb(93, 98, 102);

    /* light yellow */
    background-color: rgb(230, 229, 196);

    /* very light yellow */
    background-color: rgb(240, 241, 230);
    background-color: rgb(241, 242, 224);
    color: black;

    background-color: white;
    border-color: #AAA;
  }

  header #login-form input:focus {
    outline: none;
    background-color: white;
    border-color: #AAA;
  }

  header #login-form input[type="submit"] {
    background-image: linear-gradient(-180deg, #605eeb, #4029ed);
    background-image: linear-gradient(-180deg, #5554cf, #4029ed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;
    color: white;
  }

  header #login-form input[type="submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #5351f2, #3520d6);
    background-image: linear-gradient(-180deg, #4644d6, #3520d6);
  }

  header #login-form input[type="submit"]:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  header #login-form input {
    margin-right: 10px;
  }

  #password-form input[type="password"] {
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .user-email {
    margin-right: 8px;
  }

  form {
    margin: 0;
  }

  button {
    color: rgb(18, 105, 211);
    color: rgb(19, 88, 227);
    border: none;
    background-color: transparent;
    font-size: 12pt;

    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
  }

  h1 button, h2 button, h3 button, h4 button, h5 button, h6 button {
    margin-left: 5px;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  button:active {
    color: rgb(110, 120, 130);
  }

  .submit {
    background-image: linear-gradient(-180deg, #6f6ecc, #331bed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: white;
    margin-top: 10px;
  }

  .submit:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #6764f2, #3520d6);
    background-image: linear-gradient(-180deg, #605ef2, #1d00ff);
    background-image: linear-gradient(-180deg, #6665cb, #331bed);
    text-decoration: none;
  }

  .submit:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
    color: white;
  }

  button.edit {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    font-weight: bold;
    border: 1px solid rgba(27,31,35,.35);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: #24292e;
    margin-bottom: 10px;
  }

  button.edit:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.65);
    text-decoration: none;
  }

  button.edit:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  div {
    align-self: stretch;
  }

  div[contenteditable="true"], span[contenteditable="true"] {
    border: 1px rgb(209, 213, 218) solid;
    background-color: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px;
  }

  div[contenteditable="true"]:focus, span[contenteditable="true"]:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  #query {
    width: 70%;
    max-width: 1300px;
    text-align: center;
    font-size: 12pt;
    padding: 0.5em;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: rgb(63, 68, 72);
    background-color: rgb(62, 68, 87);
    background-color: rgb(62, 68, 83);
    background-color: rgb(62, 68, 80);
    color: #345;
    border: none;
    transition: background-color 0.4s, color 0.4s;

    /* light */
    background-color: rgb(220, 224, 232);
    background-color: rgb(235, 239, 247);

    margin-top: 0px;
    margin-bottom: 0px;
  }

  #query:hover {
    background-color: rgb(73, 78, 82);
    background-color: rgb(75, 80, 97);

    /* light yellow */
    background-color: rgb(238, 240, 205);

    /* very light yellow */
    background-color: rgb(240, 241, 230);
    background-color: rgb(241, 242, 224);
    color: #151f45;
    color: #5f6682;

    background-color: rgb(75, 80, 92);
    color: #DDD;

    /* incognito */
    background-color: rgb(75, 80, 92);
    color: #DDD;

    /* light */
    background-color: rgb(225, 230, 238);
    color: #345;
  }

  /* #query::placeholder {
    transition: color 0.4s;
    opacity: 1;
  }

  #query:hover::placeholder {
    color: #8991b4;
  }

  #query:focus::placeholder {
    color: #8991b4;
  } */

  #query:focus {
    background-color: rgb(241, 242, 224);
    color: #5f6682;
    outline: none;

    background-color: white;
    color: #151f45;

    /* incognito */
    background-color: rgb(75, 80, 92);
    color: #DDD;

    /* light */
    background-color: rgb(235, 239, 247);
    color: #345;

    background-color: rgb(225, 230, 238);
  }

  #search-form {
    margin-bottom: 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 6px;
  }

  .empty-search {
    margin-top: 10px;
  }

  p {
    margin: 0;
  }

  .added-bookmark {
    color: rgb(102, 0, 246);
    color: rgb(82, 68, 208);
  }

  .setpassword {
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #004085;
    border-bottom: 0px solid #9ab0c8;
    margin: 0;
    display: block;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;

    background-color: #cce5ff;
    /* background-color: #e3ccff; */
    background-color: #d0ccff;

    color: #004085;
    /* color: #3b0085; */
  }

  .error-alert {
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff3cd;
    color: #856404;
    border-bottom: 1px solid #dec98d;
    margin: 0;
    display: block;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  .error-alert:empty {
    display: none;
  }


  .error-block {
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #cdffe4;
    color: #048553;
    border: 1px solid #93f2d3;
    border-radius: 5px;
    margin: 10px 0px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  .error-block:empty {
    display: none;
  }
  .setpassword input {
    background-color: white;
    color: #345;
    border-radius: 5px;
    border: 2px solid transparent;
    /* border: none; */
    padding: 3px;
    transition: border-color 0.4s;
  }

  .setpassword input:hover {
    /* border-color: #95adc7; */
    border-color: rgb(13, 12, 193);
    border-color: rgb(164, 178, 200);
    /* background-color: rgb(241, 242, 224); */
  }

  .setpassword input:focus {
    outline: none;
    /* border-color: #95adc7; */
  }

  .setpassword input[type="submit"] {
    background-image: linear-gradient(-180deg, #605eeb, #4029ed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);
    color: white;

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;
  }

  .setpassword input[type="submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #5351f2, #3520d6);
  }

  .setpassword input[type="submit"]:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  #signin {
    display: none;
    background-image: linear-gradient(-180deg, #5554cf, #4029ed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: white;
    margin: 0;
    margin-top: 3px;
  }

  #signin:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #4644d6, #3520d6);
  }

  #signin:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  .centered-content {
    display: flex;
    justify-content: center;
    max-height: 400px;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    align-self: center;
  }

  .login-page-form {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 50px;
    padding-top: 30px;
    border-radius: 5px;
    /* border: 1px rgb(209, 213, 218) solid; */
    flex-grow: 0;
  }

  .login-page-form h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20pt;
  }

  .login-page-form label {
    display: block;
    font-size: 12pt;
    font-weight: bold;
  }

  .login-page-form input {
    border: 1px rgb(209, 213, 218) solid;
    background-color: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    display: block;
    max-width: 75vw;
  }

  .login-page-form input:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  .login-page-form button {
    font-size: 12pt;
    float: right;
    margin-bottom: 5px;
  }

  .login-page-form .submit {
    font-size: 12pt;
  }

  .form-block {
    margin-bottom: 20px;
  }


  @media (max-width: 1285.7px) {
    #content {
      width: 100%;
      max-width: 900px;
    }

    #query {
      width: 100%;
      max-width: 880px;
    }
  }

  @media (max-width: 700px) {
    header #login-form {
      display: none;
    }

    #signin {
      display: inline-block;
    }
  }


  @media (max-width: 600px) {
    .header-links {
      font-size: 10pt;
      margin-bottom: 15px;
    }

    header {
      font-size: 10pt;
    }

    header button {
      font-size: 10pt;
    }

    #signin {
      font-size: 10pt;
      padding: 3px 6px;
    }

    .header-links {
      padding: 6px 6px;
    }

    #query {
      font-size: 10pt;
    }

    .setpassword {
      font-size: 10pt;
    }

    .setpassword input[type="submit"] {
      font-size: 10pt;
    }
  }

</style>
