<style>
  body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
  }

  #content {
    max-width: 800px;
    margin: auto;
    padding: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 5px;
    color: black;
  }

  .recent h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20pt;
  }

  .diff h2, .diff h3, .diff h4, .diff h5, .diff h6 {
    margin-top: 0;
    color: inherit;
  }

  .diff h2 {
    font-size: 16pt;
  }

  nav.history {
    margin-bottom: 5px;
  }

  a {
    color: rgb(18, 105, 211);
    color: rgb(19, 88, 227);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    color: rgb(110, 120, 130);
  }

  nav a {
    /* color: rgb(31, 134, 107); */
    margin-left: 2px;
    margin-right: 2px;
  }

  nav {
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  nav em {
    color: rgb(100, 54, 255);
    font-style: normal;
  }

  header {
    font-size: 11pt;
    font-weight: bold;
    background-color: rgb(36, 41, 46);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    padding: 10px;
    padding-bottom: 0px;
    border-bottom: solid 4px rgb(86, 63, 122);
  }

  .header-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .header-links {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .header-links > :first-child {
    margin-left: 0;
  }

  .header-links > :last-child {
    margin-right: 0;
  }

  .login-module {
    margin-left: auto;
    margin-bottom: 10px;
  }

  div.bookmark-updates {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    border: 1px #AAA solid;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 20px;
  }

  div.bookmark-updates ul {
    margin: 0;
    padding-left: 20px;
  }

  div.bookmark-updates h4 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }

  div.bookmark-updates .timestamp {
    color: #777;
  }

  header a {
    color: rgb(220, 240, 255);
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
  }

  header a:hover {
    color: rgb(200, 220, 245);
    text-decoration: none;
  }

  header a:active {
    color: rgb(180, 200, 225);
  }


  header button {
    color: rgb(110, 120, 130);
    border: none;
    background-color: transparent;
    font-size: 12pt;
    margin: 0;
    padding: 0;
  }

  header button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  header button:active {
    color: rgb(110, 120, 130);
  }
  img {
    max-width: 200px;
  }

  .form-row {
    display: inline-block;
  }

  .user-email {
    color: rgb(220, 240, 255);
    font-weight: normal;
  }

  .login-form input {
    background-color: rgb(83, 88, 92);
    color: #DDD;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 3px;
  }

  .login-form input:hover {
    /* border-color: rgb(213, 223, 255); */
    background-color: rgb(93, 98, 102);
  }

  .login-form input:focus {
    outline: none;
  }

  .login-form input[type="submit"] {
    background-image: linear-gradient(-180deg, #605eeb, #4029ed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;
  }

  .login-form input[type="submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #5351f2, #3520d6);
  }

  .login-form input[type="submit"]:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  #password-form input[type="password"] {
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  #login-form {
    display: inline-block;
    margin-left: 10px;
  }

  #error-login {
    color: rgb(213, 223, 255);
  }

  .user-email {
    margin-right: 8px;
  }

  form {
    margin: 0;
  }

  button {
    color: rgb(18, 105, 211);
    border: none;
    background-color: transparent;
    font-size: 12pt;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  button:active {
    color: rgb(110, 120, 130);
  }

  button.submit {
    background-image: linear-gradient(-180deg, #7775ee, #331bed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: white;
    margin-top: 10px;
  }

  button.submit:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #6764f2, #3520d6);
    text-decoration: none;
  }

  button.submit:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  button.edit {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    font-weight: bold;
    border: 1px solid rgba(27,31,35,.35);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: #24292e;
    margin-bottom: 10px;
  }

  button.edit:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.65);
    text-decoration: none;
  }

  button.edit:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  div[contenteditable="true"], span[contenteditable="true"] {
    border: 1px rgb(209, 213, 218) solid;
    background-color: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px;
  }

  div[contenteditable="true"]:focus, span[contenteditable="true"]:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  #query {
    width: 100%;
    max-width: 700px;
    text-align: center;
    font-size: 12pt;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: rgb(63, 68, 72);
    color: #DDD;
    border: none;
    transition: background-color 0.2s, color 0.2s;
  }

  #query:hover {
    background-color: rgb(73, 78, 82);
    color: #DDD;
  }

  #query:focus {
    background-color: white;
    color: #333;
    outline: none;
  }

  #search-form {
    margin-bottom: 0px;
    text-align: center;
  }

  p {
    margin: 0;
  }

  .added-bookmark {
    color: rgb(102, 0, 246);
  }

  .setpassword {
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #cce5ff;
    color: #004085;
    border-bottom: 2px solid #004085;
    margin: 0;
    display: block;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  .setpassword input {
    background-color: white;
    color: #345;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 3px;
  }

  .setpassword input:hover {
    border-color: #95adc7;
  }

  .setpassword input:focus {
    outline: none;
    border-color: #95adc7;
  }

  .setpassword input[type="submit"] {
    background-image: linear-gradient(-180deg, #605eeb, #4029ed);
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);
    color: white;

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;
  }

  .setpassword input[type="submit"]:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, #5351f2, #3520d6);
  }

  .setpassword input[type="submit"]:active {
    background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
  }

  @media (max-width: 600px) {
    .header-links {
      font-size: 9pt;
      margin-bottom: 15px;
    }

    header {
      font-size: 9pt;
    }

    header button {
      font-size: 9pt;
    }

    .login-form input[type="submit"] {
      font-size: 9pt;
    }

    #query {
      font-size: 10pt;
    }
  }

</style>
