<style>
  {% set bright_purple = "#5143fb" %}
  {% set bright_purple = "rgb(82, 68, 208)" %}

  html {
    min-height: 100%;
  }

  body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    /* background-image: linear-gradient(-180deg, rgb(246, 247, 248), white);
    background-size: 100% 200px;
    background-repeat: no-repeat; */

    /* background-color: rgb(248, 248, 248); */
  }

  * {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .header-background {
    width: 100%;
    height: 280px;
    margin-bottom: -280px;
    background-color: rgb(248, 248, 248);
    border-bottom: solid 1px #DDD;
  }

  .content-border {
    width: 70%;
    max-width: 1300px;
    height: 134px;
    margin: 0 auto;
    margin-bottom: calc(-134px - 20px);

    border-radius: 5px;
    border: solid 1px #DDD;
    border-bottom: none;
  }

  #content {
    /* margin: 0 auto; */
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    /* width: 70%;
    max-width: 1300px; */

    background-color: white;
    border-radius: 5px;

    margin-top: 0px;
    border-radius: 5px;
    /* border-top: solid 1px #DDD; */

    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px; */
  }

  .sidebar {
    flex-basis: 242px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 25px;
    box-sizing: border-box;
  }

  .sidebar a {
    display: block;
    text-align: right;
    font-size: 13pt;
  }

  .content-body {
    flex-grow: 1;
  }

  .logo {
    font-size: 36pt;
    color: #E2E2E2;
    color: #DDD;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    position: relative;
    top: -4px;
    margin-right: 15px;
    margin-left: 40px;
    /* color: #e9ebf1;
    color: #e5e7ec; */
  }

  .logo:before {
    content: '[';
    margin-right: 5px;
  }

  .logo:after {
    content: ']';
    margin-left: 5px;
  }

  .login-wrapper .logo {
    display: none;
  }

  .logosearch {
    display: flex;
    width: 100%;
    /* max-width: 1300px; */
    margin: 0 auto;
    margin-top: 0px;
  }

  .separator {
    width: 100%;
    height: 4px;
    background-color: grey;
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 5px;
    color: black;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }

  h1 {
    margin-top: -5px;
  }

  h1 span[contenteditable="true"] {
    line-height: 1.7;
  }

  .recent h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20pt;
  }

  .diff h2, .diff h3, .diff h4, .diff h5, .diff h6 {
    margin-top: 0px;
    color: inherit;
  }

  .diff h2 {
    font-size: 16pt;
  }

  .diff > :last-child {
    margin-bottom: 0px;
  }

  input {
    -webkit-appearance: none;
  }

  hr {
    /* width: 100%; */
    height: 1px;
    background-color: #a9b3bf;
    background-color: #c3cedb;
    background-color: #dee5ee;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .page-heading {
    margin-bottom: 10px;
    font-size: 14pt;
    color: #777;
  }

  .recent {
    color: black;
  }

  .asterisk {
    text-align: center;
  }

  nav.history {
    margin-bottom: 5px;
  }

  a {
    color: rgb(18, 105, 211);
    color: rgb(19, 88, 227);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    /* color: rgb(110, 120, 130);
    color: rgb(82, 68, 208);
    color: {{ bright_purple }};
    color: #737ce3;
    color: #7b97c7;
    color: #8892ff;

    color: #444; */
  }

  nav a {
    /* color: rgb(31, 134, 107); */
    margin-left: 2px;
    margin-right: 2px;
  }

  nav > :first-child {
    margin-left: 0;
  }

  nav {
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }
  
  .action-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12pt;
  }

  button.action-link {
    margin: 0;
  }

  nav em {
    color: rgb(100, 54, 255);
    color: rgb(82, 68, 208);
    color: {{ bright_purple }};
    font-style: normal;

    background-color: #cdffe4;
    color: #048553;
    border: 1px solid #93f2d3;
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #5fd093;
    color: white;
    background-color: rgb(19, 88, 227);
    background-color: rgb(33, 204, 148);
    background-color: rgb(22, 199, 70);
    background-color: rgb(149, 186, 136);
    background-color: rgb(142, 163, 194);
    background-color: rgb(105, 71, 222);
    font-size: 11pt;
    margin-left: 3px;
    margin-right: 3px;

    color: #777;
    background-color: #F3F3F3;
  }

  header {
    font-size: 11pt;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    padding: 5px;

    /* border-bottom: solid 4px rgb(86, 63, 122);
    border-bottom: solid 4px rgb(99, 41, 190);

    border-bottom: solid 4px rgb(82, 100, 113);

    background-color: rgb(36, 41, 46);
    background-color: rgb(4, 23, 41);
    background-color: rgb(36, 41, 46);
    background-color: rgb(32, 39, 46);
    background-color: rgb(246, 247, 248);

    border-bottom: solid 1px rgb(207, 216, 222);
    border-width: 0px;
    background-image: linear-gradient(-180deg, rgb(246, 247, 248), white);

    background-image: linear-gradient(-180deg, rgb(238, 239, 248), white); */

    /* background: transparent; */
    /* background-color: rgb(251, 251, 251);
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 15px; */
    /* background-color: rgb(248, 248, 248); */
  }

  .header-top {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    margin-top: -10px;
  }

  #footer {
    text-align: center;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  }

  .emoticon {
    color: black;
    padding-top: 6px;
    /* padding-left: 10px;
    padding-right: 30px; */
  }

  .logout-block {
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
  }

  .logout-block > :first-child {
    margin-left: 0px;
  }

  .header-links {
    margin-bottom: 20px;
    margin-bottom: 0;
    padding-top: 6px;
    padding-left: 6px;
    text-align: center;
  }

  .header-links > :first-child {
    margin-left: 0;
  }

  .header-links > :last-child {
    margin-right: 0;
  }

  .login-module {
    margin-bottom: 0px;
    padding-left: 6px;
    margin-right: 8px;
    margin-top: 1px;
  }

  .login-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  div.bookmark-updates {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    border: 1px #AAA solid;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 20px;
    align-self: flex-start;
  }

  div.bookmark-updates ul {
    margin: 0;
    padding-left: 20px;
  }

  div.bookmark-updates h4 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }

  div.bookmark-updates .timestamp {
    color: #777;
  }

  .recent-timestamp {
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
  }

  .version-timestamp {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  header a {
    color: rgb(220, 240, 255);
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;

    /* incognito */
    color: rgb(62, 68, 80);
    /* font-weight: normal; */
  }

  /* header a:before {
    content: '[';
  }

  header a:after {
    content: ']';
  } */

  header a:hover {
    color: rgb(232, 232, 172);
    color: rgb(200, 220, 245);
    text-decoration: none;

    /* purple */
    color: rgb(82, 68, 208);
    color: {{ bright_purple }};
  }

  header a:active {
    color: rgb(232, 232, 172);
    color: rgb(180, 200, 225);

    /* dark purple */
    color: rgb(75, 65, 166);
    color: {{ bright_purple }};
  }


  header button {
    color: rgb(110, 120, 130);
    color: rgb(95, 111, 126);
    border: none;
    background-color: transparent;
    font-size: 12pt;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    transition: color 0.2s;

    color: rgb(19, 88, 227);
    color: #777;
  }

  header button:hover {
    text-decoration: underline;
    cursor: pointer;
    /* color: rgb(159, 79, 219);
    color: rgb(150, 79, 219);
    color: rgb(183, 110, 255);
    color: rgb(141, 74, 250);

    color: rgb(74, 250, 220); */

    /* purple */
    /* color: rgb(82, 68, 208);
    color: {{ bright_purple }}; */
  }

  header button:active {
    /* color: rgb(110, 120, 130); */
    /* dark purple */
    /* color: rgb(75, 65, 166);
    color: {{ bright_purple }}; */
  }

  img {
    max-width: 200px;
    margin: 10px 0px;
  }

  .form-row {
    display: inline-block;
  }

  .user-email {
    color: rgb(220, 240, 255);
    font-weight: normal;
  }

  header #login-form {
    color: rgb(220, 240, 255);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    color: rgb(62, 68, 80);
    color: #777;
    margin-bottom: 20px;
    font-size: 12pt;
  }

  header #login-form button {
    margin-left: 0px;
  }

  header #login-form input {
    background-color: rgb(83, 88, 92);
    background-color: rgb(46, 56, 64);
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 3px 5px;
    transition: background-color 0.4s, color 0.4s;

    /* light */
    background-color: rgb(235, 239, 247);

    background-color: white;
    border: 1px solid #DDD;
    color: black;

    border-color: #BBB;
  }

  header #login-form input:hover {
    /* border-color: rgb(213, 223, 255); */
    background-color: rgb(93, 98, 102);

    /* light yellow */
    background-color: rgb(230, 229, 196);

    /* very light yellow */
    background-color: rgb(240, 241, 230);
    background-color: rgb(241, 242, 224);
    color: black;

    background-color: white;
    /* border-color: #AAA; */
  }

  header #login-form input:focus {
    outline: none;
    background-color: white;
    border-color: #AAA;

    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  header #login-form input[type="submit"] {
    /* background-image: linear-gradient(-180deg, #605eeb, #4029ed);
    background-image: linear-gradient(-180deg, #5554cf, #4029ed); */
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;
    color: white;

    /* outline */
    /* background: transparent; */
    border: 1px solid #4029ed;
    color: #4029ed;
    font-weight: normal;

    background-color: rgb(82, 68, 208);
    background-color: {{ bright_purple }};
    color: white;
    font-weight: bold;
    border-color: transparent;

    background-color: transparent;
    border: 1px solid #00FF00;
    color: #00FF00;
    color: rgb(19, 88, 227);
    border-color: rgb(19, 88, 227);
    font-weight: normal;
    font-size: 12pt;
    border-color: rgb(215, 215, 215);
    border-color: rgb(209, 213, 218);

    /* color: #777; */
    transition: none;
  }

  header #login-form input[type="submit"]:hover {
    cursor: pointer;
    /* background-image: linear-gradient(-180deg, #5351f2, #3520d6);
    background-image: linear-gradient(-180deg, #4644d6, #3520d6); */

    /* background-color: transparent;
    color: #4e6de6;
    border-color: #4e6de6; */

    /* border-color: #8892ff;
    color: #8892ff;
    background-color: #e7e9ff;
    background-color: #f6f7ff; */

    border-color: rgba(27,31,35,.35);
  }

  header #login-form input[type="submit"]:active {
    /* background-image: linear-gradient(-180deg, #3a23ea, #3a23ea); */
  }

  header #login-form input {
    margin-right: 10px;
  }

  #password-form {
    display: inline-flex;
  }

  #password-form input[type="password"] {
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .user-email {
    margin-right: 8px;
  }

  form {
    margin: 0;
  }

  nav button {
    margin-top: 0px;
    margin-left: 2px;
  }

  button {
    color: rgb(18, 105, 211);
    color: rgb(19, 88, 227);
    border: none;
    background-color: transparent;
    font-size: 12pt;

    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
  }

  h1 button, h2 button, h3 button, h4 button, h5 button, h6 button {
    margin-left: 5px;
  }

  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  button:active {
    /* color: rgb(110, 120, 130);
    color: rgb(82, 68, 208);
    color: {{ bright_purple }};
    color: #737ce3;
    color: #7b97c7;
    color: #8892ff;
    
    color: #444; */
  }

  .submit, .login-page-form .submit, #signin {
    /* background-image: linear-gradient(-180deg, #6f6ecc, #331bed); */
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: white;
    margin-top: 10px;

    background-color: rgb(82, 68, 208);
    background-color: {{ bright_purple }};
    border-color: transparent;

    background-color: transparent;
    border: 1px solid #00FF00;
    color: #00FF00;
    color: rgb(19, 88, 227);
    border-color: rgb(19, 88, 227);
    font-weight: normal;
    font-size: 12pt;
    border-color: rgb(215, 215, 215);
    border-color: rgb(209, 213, 218);
  }

  .submit:hover, .login-page-form .submit:hover, #signin:hover {
    cursor: pointer;
    /* background-image: linear-gradient(-180deg, #6764f2, #3520d6);
    background-image: linear-gradient(-180deg, #605ef2, #1d00ff);
    background-image: linear-gradient(-180deg, #6665cb, #331bed); */
    text-decoration: none;
    border-color: rgba(27,31,35,.35);
  }

  .submit:active, .login-page-form .submit:active {
    /* background-image: linear-gradient(-180deg, #3a23ea, #3a23ea);
    color: white; */
    /* color: white; */
  }

  #signin {
    font-size: 11pt;
    margin-top: 10px;
    display: none;
  }

  button.edit {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-image: linear-gradient(-180deg, #ffffff, #f1f4f8);
    font-weight: bold;
    border: 1px solid rgba(27, 30, 34, 0.19);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: #24292e;
    margin-bottom: 10px;

    background: transparent;
    border: 1px solid #00FF00;
    color: #00FF00;
    color: rgb(19, 88, 227);
    border-color: rgb(19, 88, 227);
    border-color: rgb(215, 215, 215);
    border-color: rgb(209, 213, 218);
    font-weight: normal;
    font-size: 12pt;
  }

  button.edit:hover {
    cursor: pointer;
    /* background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%); */
    border-color: rgba(27,31,35,.35);
    text-decoration: none;
  }

  button.edit:active {
    /* background-image: linear-gradient(-180deg, #3a23ea, #3a23ea); */
    background-image: linear-gradient(-180deg, #f6f3f3, #f1f4f8);
  }

  div {
    align-self: stretch;
  }

  div[contenteditable="true"], span[contenteditable="true"] {
    border: 1px rgb(209, 213, 218) solid;
    background-color: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px;
  }

  div[contenteditable="true"]:focus, span[contenteditable="true"]:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  #search-form button[type="submit"] {
    outline: none;
    background: white;
    border: 4px solid #DDD;
    border-left: 1px solid #DDD;
    border-left: none;
    font-size: 14pt;
    padding: 0.5em;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    /* color: rgb(19, 88, 227); */
    /* background-color: #DDD; */
    transition: none;
    /* border-color: #e9ebf1;
    color: #e5e7ec; */
    /* border-color: #F3F3F3; */
    color: #8892ff;
    color: rgb(19, 88, 227);
    border-color: #DDD;
  }

  #search-form button[type="submit"]:hover {
    background-color: #DDD;
    text-decoration: none;
    color: black;
    color: rgb(19, 88, 227);
    background-color: #FCFCFC;
    background-color: white;
    color: #8892ff;
  }

  .questionmark {
  }

  .precontent {
    margin-left: 227px;
    padding-left: 20px;
  }

  #query {
    text-align: center;
    font-size: 12pt;
    padding: 0.5em;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-top: 0px;
    background-color: rgb(63, 68, 72);
    background-color: rgb(62, 68, 87);
    background-color: rgb(62, 68, 83);
    background-color: rgb(62, 68, 80);
    color: #345;
    border: none;
    transition: background-color 0.4s, color 0.4s;

    /* light */
    background-color: rgb(220, 224, 232);
    background-color: rgb(235, 239, 247);

    margin-top: 50px;
    margin-bottom: 10px;

    /* jisho */
    border: 4px #DDD solid;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    padding: 0.5em;
    font-size: 14pt;

    width: 100%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    flex-grow: 1;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    /* border-color: #e9ebf1;
    color: #e5e7ec; */
    /* border-color: rgb(230, 230, 230); */

    border-color: #DDD;
    /* box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.05); */
  }

  #query:hover {
    /* background-color: rgb(73, 78, 82);
    background-color: rgb(75, 80, 97);

    background-color: rgb(238, 240, 205);

    background-color: rgb(240, 241, 230);
    background-color: rgb(241, 242, 224);
    color: #151f45;
    color: #5f6682;

    background-color: rgb(75, 80, 92);
    color: #DDD;

    background-color: rgb(75, 80, 92);
    color: #DDD;

    background-color: rgb(225, 230, 238);
    color: #345; */
  }

  /* #query::placeholder {
    transition: color 0.4s;
    opacity: 1;
  }

  #query:hover::placeholder {
    color: #8991b4;
  }

  #query:focus::placeholder {
    color: #8991b4;
  } */

  #query:focus {
    /* background-color: rgb(241, 242, 224);
    color: #5f6682;
    outline: none;

    background-color: white;
    color: #151f45;

    background-color: rgb(75, 80, 92);
    color: #DDD;

    background-color: rgb(235, 239, 247);
    color: #345;

    background-color: rgb(225, 230, 238); */
    outline: none;
  }

  #search-form {
    margin-bottom: 0px;
    /* text-align: center; */
    box-sizing: border-box;
    padding: 0 6px;
    align-self: center;
    margin-left: 0px;
    flex-grow: 1;
    display: flex;
  }

  .empty-search {
    margin-top: 10px;
  }

  .create-page {
    background-color: #cfcbff;
    border: 1px solid #9a8bf9;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;

    background-color: rgba(207, 203, 255, 0.51);

    /* background-color: #ffe6cd;
    border: 1px solid #f2c293; */

    /* background-color: #fffdcb; */
    /* border: 1px solid #c2c162; */
    /* border-radius: 0px; */
  }

  p {
    margin: 0;
  }

  .added-bookmark {
    color: rgb(102, 0, 246);
    color: rgb(82, 68, 208);
    color: {{ bright_purple }};
  }

  .setpassword {
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #004085;
    border-bottom: 0px solid #9ab0c8;
    margin: 0;
    display: block;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;

    background-color: #cce5ff;
    /* background-color: #e3ccff; */
    background-color: #d0ccff;

    color: #004085;
    /* color: #3b0085; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: rgba(207, 203, 255, 0.71);
  }

  .setpassword label {
    margin: 0px 0;
  }

  .error-alert {
    padding: 15px 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff3cd;
    color: #856404;
    border-bottom: 1px solid #dec98d;
    margin: 0;
    display: block;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;

    background-color: #cdffe4;
    color: #048553;
    border-bottom: 1px solid #93f2d3;

    background-color: #ffe6cd;
    border: 1px solid #f2c293;
    color: #855804;
  }

  .error-alert:empty {
    display: none;
  }

  .recently-edited {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
  }

  .error-block {
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #cdffe4;
    color: #048553;
    border: 1px solid #93f2d3;
    border-radius: 5px;
    margin: 10px 0px;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;

    background-color: #ffe6cd;
    border: 1px solid #f2c293;
    color: #855804;
  }

  .error-block:empty {
    display: none;
  }
  .setpassword input {
    background-color: white;
    color: #345;
    border-radius: 5px;
    border: 2px solid transparent;
    /* border: none; */
    padding: 3px;
    transition: border-color 0.4s;

    margin: 0;
    font-size: 14pt;
    padding: 5px 10px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .setpassword input:hover {
    /* border-color: #95adc7; */
    border-color: rgb(13, 12, 193);
    border-color: rgb(164, 178, 200);
    /* background-color: rgb(241, 242, 224); */
  }

  .setpassword input:focus {
    outline: none;
    /* border-color: #95adc7; */
  }

  .setpassword input[type="submit"] {
    /* background-image: linear-gradient(-180deg, #605eeb, #4029ed); */
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);
    color: white;

    font-size: 14pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    border-color: transparent;
    background-color: rgb(82, 68, 208);
    background-color: {{ bright_purple }};

    background: transparent;
    border: 1px solid #00FF00;
    color: #00FF00;
    color: rgb(19, 88, 227);
    border-color: rgb(19, 88, 227);
    border-color: rgb(215, 215, 215);
    border-color: rgb(209, 213, 218);
    font-weight: normal;
    font-size: 12pt;

    color: inherit;
    border-color: inherit;
    background-color: rgb(19, 88, 227);
    border: none;
    color: white;
  }

  .setpassword button {
    margin: 0;
    font-size: 12pt;
    padding: 10px;
    color: #777;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(19, 88, 227);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .setpassword input[type="submit"]:hover {
    cursor: pointer;
    /* background-image: linear-gradient(-180deg, #5351f2, #3520d6); */
  }

  .setpassword input[type="submit"]:active {
    /* background-image: linear-gradient(-180deg, #3a23ea, #3a23ea); */
  }

  /* #signin {
    display: none;
    font-weight: bold;
    border: 1px solid hsl(220, 78%, 29%);

    font-size: 12pt;
    padding: 6px;
    border-radius: 4px;
    font-size: 10pt;

    color: white;
    margin: 0;
    margin-top: 3px;

    background-color: {{ bright_purple }};
    border-color: transparent;
  }

  #signin:hover {
    cursor: pointer;
  }

  #signin:active {
  } */

  .centered-content {
    display: flex;
    justify-content: center;
    max-height: 50%;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    align-self: stretch;
  }

  .login-page-form {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 0px;
    padding-top: 30px;
    border-radius: 5px;
    /* border: 1px rgb(209, 213, 218) solid; */
    flex-grow: 0;
  }

  .login-page-form h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20pt;
  }

  #login-form label {
    font-weight: normal;
  }

  .login-page-form label {
    display: block;
    font-size: 12pt;
    /* font-weight: normal; */
  }

  .login-page-form input {
    border: 1px rgb(209, 213, 218) solid;
    background-color: rgb(250, 251, 252);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: block;
    font-size: 14pt;
  }

  .login-page-form input:focus {
    border-color: #2188ff;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 2px rgba(3,102,214,.3);
  }

  .login-page-form button {
    font-size: 12pt;
    float: right;
    margin-bottom: 5px;
  }

  .login-page-form .submit {
    font-size: 14pt;
  }

  .form-block {
    margin-bottom: 20px;
  }


  @media (max-width: 1285.7px) {
    /* #content {
      width: 100%;
      max-width: 900px;
    } */

    /* #query {
      width: 100%;
      max-width: 880px;

      width: 80%;
      max-width: 700px;
    } */
  }

  @media (max-width: 800px) {
    header #login-form {
      display: none;
    }

    #signin {
      display: inline-block;
      font-size: 12pt;
      align-self: flex-start;
      margin-top: 5px;
      margin-right: -2px;
    }

    #search-form {
      margin-top: 10px;
    }

    #content {
      flex-direction: column;
    }

    .sidebar {
      flex-basis: 0;
      margin-bottom: 10px;
      padding-right: 0;
    }

    .sidebar a {
      text-align: left;
      display: inline-block;
      margin-right: 5px;
    }

    .logo {
      display: none;
    }

    .login-wrapper {
      justify-content: space-between;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .login-wrapper .logo {
      display: inline-block;
      margin-left: 6px;
      font-size: 24pt;
      margin-top: 15px;
      color: #CCC;
      flex-shrink: 0;
      margin-right: 0;
    }

    .login-wrapper .logo:before {
      margin-right: 2px;
    }

    .login-wrapper .logo:after {
      margin-left: 2px;
    }

    .logosearch {
      align-items: center;
    }

    #search-form {
      margin-top: 0;
    }
  }


  /* @media (max-width: 600px) {
    .header-links {
      font-size: 10pt;
    }

    header {
      font-size: 10pt;
    }

    header button {
      font-size: 10pt;
    }

    #content {
      padding-top: 10px;
    }

    #signin {
      font-size: 10pt;
      padding: 3px 6px;
    }

    .header-links {
      padding: 6px 6px;
    }

    #query {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .setpassword {
      font-size: 10pt;
    }

    .setpassword input[type="submit"] {
      font-size: 10pt;
    }
  } */

</style>
