{% extends 'base-page.html' %}
{% block head %}
  <title>{{ display.name }} - Thread</title>
{% endblock %}

{% block scripts %}
  {% include 'update-scripts.html' %}

  <script>
    function get_summary() {
      return {
        summary: document.getElementById('summary-body').innerHTML,
      };
    }

    function get_section(idx) {
      sections = {};
      sections[idx] = document.getElementById('section-' + idx + '-body').innerHTML;
      return {sections: sections};
    }

    function get_heading() {
      return {
        name: document.getElementById('name-body').innerText,
      };
    }
  </script>
{% endblock %}

{% block content %}
  <div id="heading">
    {% include 'topic-page-heading.html' %}
  </div>

  <nav>
    {% if g.page.can_edit %}
      <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
      <a href="{{ url_for('history', title=g.page.title) }}">History</a>
    {% endif %}

    {% if g.user != None and not g.page.is_bookmarked %}
      <span id="add-bookmark">
        <button type="button" onclick="addbookmark('error-bookmark')">Add bookmark</button>
        <span id="error-bookmark"></span>
      </span>
    {% endif %}
  </nav>

  <div id="summary">
    {% include 'topic-page-summary.html' %}
  </div>

  {% for idx, section in enumerate(display.sections) %}
    <div id="section-{{ idx }}">
      {% include 'topic-page-section.html' %}
    </div>
  {% endfor %}
{% endblock %}
