<html>
  <head>
    <title>History: {{ g.page.versions[-1].name }} - Thread</title>
    {% include 'scripts.html' %}
    {% include 'diff-styles.html' %}
    {% include 'history-scripts.html' %}
  </head>

  <body>
    {% include "modules/navbar.html" %}

    <h1>History: {{ g.page.versions[-1].name }}</h1>
    <a href="{{ url_for('page', title=title) }}">Back</a>

    {% for num in reversed(range(len(g.page.versions))) %}
      {% set version = g.page.versions[num] %}
      {% set diff = g.page.diffs[num] %}
      {% set errorid = "error-version-{}".format(num) %}
      <div>
        <span class="timestamp">{{ version.timestamp }}</span>
        {% if num != 0 and num != len(g.page.versions) - 1 %}
          {% if not version.is_flagged %}
            <button type="button" onclick="flag({{ num }}, '{{ errorid }}')">Flag</button>
          {% elif version.flag.sender == g.user %}
            <button type="button" onclick="unflag({{ num }}, '{{ errorid }}')">Unflag</button>
          {% endif %}
        {% endif %}
        {% if num != len(g.page.versions) - 1 %}
          <button type="button" onclick="restore({{ num }}, '{{ errorid }}')">Restore</button>
        {% endif %}
        <a href="{{ url_for('version', title=g.page.title, num=num) }}">View</a>
      </div>
      <div id="{{ errorid }}"></div>

      {% if version.is_flagged %}
        <div class="markupnote">This edit has been flagged. It may well be a dumpster fire; view at your own risk.</div>
      {% else %}

        {% if diff.name_changed %}
          <div class="markupnote">Changed name to: {{ version.name }}</div>
        {% endif %}
        {% if diff.summary_changed %}
          {{ diff.summary_diff|safe }}
        {% endif %}

        {% from 'page-utils.html' import header_at_level %}
        {% for section in diff.sections %}
          {% if section.inserted %}
            <ins>{{ header_at_level(section.heading, section.level) }}</ins>
            <ins>{{ section.body|safe }}</ins>
          {% elif section.deleted %}
            <del>{{ header_at_level(section.heading, section.level) }}</del>
            <del>{{ section.body|safe }}</del>
          {% elif section.edited %}
            {{ header_at_level(section.heading, section.level) }}
            {{ section.body_diff|safe }}
          {% endif %}
        {% endfor %}

      {% endif %}

      {% if num != 0 %}
        <hr>
      {% endif %}
    {% endfor %}
  </body>
</html>
