<html>
  <head>
    <title>{{ display.name }} - Thread</title>
    {% include 'scripts.html' %}
  </head>

  {% include 'update-scripts.html' %}

  <script>
    function get_summary() {
      return {
        summary: document.getElementById('summary-body').innerHTML,
      };
    }

    function get_section(idx) {
      sections = {};
      sections[idx] = document.getElementById('section-' + idx + '-body').innerHTML;
      return {sections: sections};
    }

    function get_heading() {
      return {
        name: document.getElementById('name-body').innerText,
      };
    }
  </script>

  <body>
    {% include 'modules/navbar.html' %}

    <div id="heading">
      {% include 'topic-page-heading.html' %}
    </div>

    {% if g.page.can_edit %}
      <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
      <a href="{{ url_for('history', title=g.page.title) }}">History</a>
    {% endif %}

    <div id="summary">
      {% include 'topic-page-summary.html' %}
    </div>

    {% for idx, section in enumerate(display.sections) %}
      <div id="section-{{ idx }}">
        {% include 'topic-page-section.html' %}
      </div>
    {% endfor %}

  </body>
</html>
