<div class="diff">
  {% if diff.name_changed %}
    <div class="markupnote">Changed name to: {{ diff.name }}</div>
  {% endif %}
  {% if diff.summary_changed %}
    <div class="diff-block">
      {{ diff.summary_diff|safe }}
    </div>
  {% endif %}

  {% from 'page-utils.html' import header_at_level %}
  {% for section in diff.sections %}
    {% if section.inserted %}
      <div class="diff-block">
        <ins>{{ header_at_level(section.heading, section.level) }}</ins>
        <ins>{{ section.body|safe }}</ins>
      </div>
    {% elif section.deleted %}
      <div class="diff-block">
        <del>{{ header_at_level(section.heading, section.level) }}</del>
        <del>{{ section.body|safe }}</del>
      </div>
    {% elif section.edited %}
      <div class="diff-block">
        {{ header_at_level(section.heading, section.level) }}
        {{ section.body_diff|safe }}
      </div>
    {% endif %}
  {% endfor %}
</div>
