<html>
  <head>
    <title>{{ version.content.heading }} - Thread</title>
    {% include 'scripts.html' %}
  </head>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <h1>{{ version.content.heading }}, AKA "{{ version.content.nickname }}"</h1>
    <h3>{{ version.timestamp }}</h3>
    <a href="{{ url_for_title('edit', title=title) }}">Edit</a>
    <a href="{{ url_for_title('history', title=title) }}">History</a>

    <div>{{ version.content.summary|safe }}</div>

    {% from 'page-utils.html' import header_at_level %}
    {% for section in version.content.sections %}
      {{ header_at_level(section.header, section.level) }}
      {{ section.body|safe }}
    {% endfor %}

  </body>
</html>
