<html>
  <head>
    <title>{{ display.name }} - Thread</title>
    {% include 'scripts.html' %}
    {% include 'concise-diff-styles.html' %}
    {% include 'user-styles.html' %}
  </head>

  {% include 'update-scripts.html' %}
  {% include 'user-update-scripts.html' %}

  <script>
    function get_summary() {
      return {
        summary: document.getElementById('summary-body').innerHTML,
      };
    }

    function get_section(idx) {
      sections = {};
      sections[idx] = document.getElementById('section-' + idx + '-body').innerHTML;
      return {sections: sections};
    }

    function get_heading() {
      return {
        name: document.getElementById('name-body').innerText,
        aka: document.getElementById('aka-body').innerText,
      };
    }
  </script>

  <body>
    {% include "modules/navbar.html" %}

    <div id="heading">
      {% include 'user-page-heading.html' %}
    </div>

    <div>
      {% if g.page.can_edit %}
        <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
        <a href="{{ url_for('history', title=g.page.title) }}">History</a>
      {% endif %}
      <span class="email">{{ g.page.owner.email }}</span>

      {% if g.user != None and not g.page.is_bookmarked %}
        <span id="add-bookmark">
          <button type="button" onclick="addbookmark('error-bookmark')">Add bookmark</button>
          <span id="error-bookmark"></span>
        </span>
      {% endif %}

      {% if g.user == g.page.owner %}
        {% if g.page.is_frozen %}
          <button type="button" onclick="unfreeze()">Unfreeze page</button>
        {% else %}
          <button type="button" onclick="freeze()">Freeze page</button>
        {% endif %}
        <span id="error-freeze"></span>
      {% endif %}
    </div>

    <div id="summary">
      {% include 'user-page-summary.html' %}
    </div>

    {% for section in display.sections %}
      <div id="section-{{ section.idx }}">
        {% include 'user-page-section.html' %}
      </div>
    {% endfor %}

  </body>
</html>
