<div class="edit-block">
  <div id="heading-display">
    <h1>
      {% if display.heading_changed %}
        <ins>[{{ display.name }} ({{ display.aka }})]</ins>
      {% else %}
        {{ display.name }} ({{ display.aka }})
      {% endif %}
      {% if g.page.can_accept %}
        <!-- <button type="button" onclick="accept('error-heading')">Accept this version</button> -->
        <a href="{{ url_for('edit', title=g.page.title) }}" class="action-link">Edit and accept</a>
      {% elif g.page.can_edit %}
        <button type="button" onclick="swap('heading-display', 'heading-edit')">Edit name</button>
      {% endif %}
    </h1>
  </div>
  <div id="heading-edit" hidden="true">
    <h1>
      <span id="name-body" contenteditable="true">{{ display.name }}</span> (<span id="aka-body" contenteditable="true">{{ display.aka }}</span>)
      <button type="button" onclick="update(get_heading(), 'error-heading')">Done</button>
    </h1>
  </div>
  <div class="error-block" id="error-heading"></div>
</div>
