<html>
  <head>
    <title>{{ display.name }} - Thread</title>
    {% include 'scripts.html' %}
    {% include 'concise-diff-styles.html' %}
  </head>

  {% include 'update-scripts.html' %}
  {% include 'user-update-scripts.html' %}

  <script>
    function get_summary() {
      return {
        summary: document.getElementById('summary-body').innerHTML,
      };
    }

    function get_section(idx) {
      sections = {};
      sections[idx] = document.getElementById('section-' + idx + '-body').innerHTML;
      return {sections: sections};
    }

    function get_heading() {
      return {
        name: document.getElementById('name-body').innerText,
        aka: document.getElementById('aka-body').innerText,
      };
    }
  </script>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <div id="heading">
      {% include 'user-page-heading.html' %}
    </div>

    {% if g.page.can_edit %}
      <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
      <a href="{{ url_for('history', title=g.page.title) }}">History</a>
    {% endif %}

    {% if g.user == g.page.owner %}
      {% if g.page.is_frozen %}
        <button type="button" onclick="unfreeze()">Unfreeze page</button>
      {% else %}
        <button type="button" onclick="freeze()">Freeze page</button>
      {% endif %}
      <div id="error-freeze"></div>
    {% endif %}

    <div id="summary">
      {% include 'user-page-summary.html' %}
    </div>

    {% for section in display.sections %}
      <div id="section-{{ section.idx }}">
        {% include 'user-page-section.html' %}
      </div>
    {% endfor %}

  </body>
</html>
