<html>
  <head>
    <title>History: {{ currentversion.heading }} - Thread</title>
    {% include 'scripts.html' %}
  </head>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <h1>History: {{ currentversion.heading }}, AKA "{{ currentversion.nickname }}"</h1>
    <a href="{{ url_for_title('page', title=title) }}">Back</a>

    {% macro show_edits(version) %}
      <div class="editchanges">
        {% for block in version.editblocks %}
          <div class="editblock">{{ block|safe }}</div>
        {% endfor %}
      </div>
    {% endmacro %}

    <h3>{{ currentversion.timestamp }}</h3>
    <button type="button">Flag and undo</button>
    <a href="{{ url_for_title('version', title=title, num=currentversion.num) }}">View</a>
    {{ show_edits(currentversion) }}
    {% for version in oldversions %}
      <hr>
      <h3>{{ version.timestamp }}</h3>
      <button type="button">Flag</button>
      <button type="button">Restore</button>
      <a href="{{ url_for_title('version', title=title, num=version.num) }}">View</a>
      {{ show_edits(version) }}
    {% endfor %}

  </body>
</html>
