<h1>
  <span id="heading-diff">
    {% if version.primarydiff.headingchanged or version.primarydiff.nicknamechanged %}
      <ins>[{{ version.content.heading }}, AKA "{{ version.content.nickname }}"]</ins>
    {% else %}
      {{ version.content.heading }}, AKA "{{ version.content.nickname }}"
    {% endif %}
  </span>
  <span id="heading-body" hidden="true">
    <span id="heading-content" contenteditable="true">{{ version.content.heading }}</span>, AKA "<span id="nickname-content" contenteditable="true">{{ version.content.nickname }}</span>"
  </span>
  {% if not hidebuttons %}
    {% if is_owner(page) and not version.isprimary %}
      <button type="button" onclick="restore('{{ url_for('restore', title=title, num=version.num) }}')">Accept this version</button>
    {% elif can_edit(page) %}
      <button type="button" id="edit-heading" onclick="editheading('{{ url_for('headingedit', title=title) }}')">Edit name</button>
    {% endif %}
  {% endif %}
</h1>
<div id="headingerror"></div>
