<div id="heading-display">
  <h1>
    {% if heading.changed %}
      <ins>[{{ heading.name }}, AKA "{{ heading.aka }}"]</ins>
    {% else %}
      {{ heading.name }}, AKA "{{ heading.aka }}"
    {% if can_accept() %}
      <button type="button" onclick="accept('error-heading')">Accept this version</button>
    {% elif can_edit() %}
      <button type="button" onclick="swap('heading-display', 'heading-edit')">Edit name</button>
    {% endif %}
  </h1>
</div>
<div id="heading-edit" hidden="true">
  <h1>
    <span id="name-body" contenteditable="true">{{ heading.name }}</span>, AKA "<span id="aka-body" contenteditable="true">{{ heading.aka }}</span>"
    <button type="button" onclick="update(get_heading(), 'error-heading')">Done</button>
  </h1>
</div>
<div id="error-heading"></div>
