{% extends 'base-page.html' %}
{% block head %}
  <title>History: {{ g.page.versions[-1].name }} - Thread</title>
  {% include 'diff-styles.html' %}
{% endblock %}

{% block scripts %}
  {% include 'history-scripts.html' %}
  {% include 'user-update-scripts.html' %}
{% endblock %}

{% block content %}
  <h1>History: {{ g.page.versions[-1].name }} ({{ g.page.versions[-1].aka }})</h1>
  <nav>
    <a href="{{ url_for('page', title=g.page.title) }}">Back</a>
    {% if g.page.can_edit %}
      <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
    {% endif %}
  </nav>

  {% for num in reversed(range(len(g.page.versions))) %}
    {% set version = g.page.versions[num] %}
    {% set diff = g.page.diffs[num] %}
    {% set errorid = "error-version-{}".format(num) %}
    <nav class="history">
      <span class="timestamp">{{ moment(version.timestamp).format('LLL') }}</span>
      {% if num == len(g.page.versions) - 1 and g.page.can_accept %}
        <button type="button" onclick="accept('error-version-{{ num }}')">Accept this version</button>
      {% endif %}
      {% if num != 0 and num != len(g.page.versions) - 1 %}
        {% if not version.is_flagged %}
          <button type="button" onclick="flag({{ num }}, '{{ errorid }}')">Flag</button>
        {% elif version.flag.sender == g.user %}
          <button type="button" onclick="unflag({{ num }}, '{{ errorid }}')">Unflag</button>
        {% endif %}
      {% endif %}
      {% if g.user != None and num != len(g.page.versions) - 1 %}
        <button type="button" onclick="restore({{ num }}, '{{ errorid }}')">Restore</button>
      {% endif %}
      <a href="{{ url_for('version', title=g.page.title, num=num) }}">View</a>
    </nav>
    <div class="error-block" id="{{ errorid }}"></div>

    {% if version.is_flagged %}
      <div class="markupnote">This edit has been flagged. It may well be a dumpster fire; view at your own risk.</div>
    {% else %}
      {% include 'user-page-diff.html' %}
    {% endif %}

    {% if num != 0 %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
