<html>
  <head>
    <title>History: {{ currentversion.content.heading }} - Thread</title>
    {% include 'scripts.html' %}

    <style>
      .markupnote {
        color: gray
      }
      .markupnote:before {
        content: "[";
      }
      .markupnote:after {
        content: "]";
      }
      .timestamp {
        font-size: 20;
        font-weight: bold;
      }
      ins {
        color: deepskyblue;
      }
      del {
        color: grey;
      }
    </style>

    <script>
      function restore(url) {
        signal(url, {
          num: {{ currentversion.num }},
        });
      }
    </script>
  </head>

  <body>
    {% include 'modules/login.html' %}

    <a href="{{ url_for('index') }}">Home</a>

    <h1>History: {{ currentversion.content.heading }}, AKA "{{ currentversion.content.nickname }}"</h1>
    <a href="{{ url_for('page', title=title) }}">Back</a>

    {% from 'page-utils.html' import header_at_level %}
    {% macro show_edits(version) %}
      {% if version.diff.headingchanged %}
        <div class="markupnote">Changed name to: {{ version.content.heading }}</div>
      {% endif %}
      {% if version.diff.nicknamechanged %}
        <div class="markupnote">Changed nickname to: {{ version.content.nickname }}</div>
      {% endif %}
      {% if version.diff.summarychanged %}
        {{ version.diff.summary|safe }}
      {% endif %}
      {% for section in version.diff.sections %}
        {% if section.inserted %}
          <ins>{{ header_at_level(section.header, section.level) }}</ins>
          <ins>{{ section.body|safe }}</ins>
        {% elif section.deleted %}
          <del>{{ header_at_level(section.header, section.level) }}</del>
          <del>{{ section.body|safe }}</del>
        {% elif section.edited %}
          {{ header_at_level(section.header, section.level) }}
          {{ section.diff|safe }}
        {% endif %}
      {% endfor %}
    {% endmacro %}

    {% if currentversion.num != 1 %}
      <div>
        <span class="timestamp">{{ currentversion.timestamp }}</span>
        <button type="button" onclick="restore('{{ url_for('restore', title=title, num=currentversion.num) }}')">Flag and undo</button>
        <a href="{{ url_for('version', title=title, num=currentversion.num) }}">View</a>
      </div>
      
      {{ show_edits(currentversion) }}
      <hr>
    {% endif %}
    {% for version in oldversions %}
      <div>
        <span class="timestamp">{{ version.timestamp }}</span>
        <button type="button">Flag</button>
        <button type="button" onclick="restore('{{ url_for('restore', title=title, num=version.num) }}')">Restore</button>
        <a href="{{ url_for('version', title=title, num=version.num) }}">View</a>
      </div>
      <div id="versionerror-{{ version.num }}"></div>
      {{ show_edits(version) }}
      <hr>
    {% endfor %}

    <div>
      <span class="timestamp">{{ initialversion.timestamp }}</span>
      <button type="button" onclick="restore('{{ url_for('restore', title=title, num=initialversion.num) }}')">Restore</button>
      <a href="{{ url_for('version', title=title, num=initialversion.num) }}">View</a>
    </div>
    <div id="versionerror-{{ initialversion.num }}"></div>
    {{ show_edits(initialversion) }}

  </body>
</html>
