{% from 'page-utils.html' import header_at_level %}
{% if section.deleted %}
{% else %}
  {% set displayid = "section-{}-display".format(section.idx) %}
  {% set editid = "section-{}-edit".format(section.idx) %}
  {% set bodyid = "section-{}-body".format(section.idx) %}
  {% set errorid = "error-section-{}".format(section.idx) %}
  <div class="edit-block">
    <div id="{{ displayid }}">
      {% set header %}
        {% if section.inserted %}
          <ins>[{{ section.heading }}]</ins>
        {% else %}
          {{ section.heading }}
        {% endif %}
        {% if g.page.can_accept %}
          <!-- <button type="button" onclick="accept('{{ errorid }}')">Accept this version</button> -->
        <button type="button" onclick="accept('error-heading')" class="action-link">Accept</button>
          <a href="{{ url_for('edit', title=g.page.title) }}" class="action-link">Edit</a>
        {% elif g.page.can_edit %}
          <button type="button" onclick="swap('{{ displayid }}', '{{ editid }}')">Edit</button>
        {% endif %}
      {% endset %}
      {{ header_at_level(header, section.level) }}
      <div>{{ section.body_diff|safe }}</div>
    </div>
    <div id="{{ editid }}" hidden="true">
      {% set header %}
        {{ section.heading }}
        <button type="button" onclick="update(get_section({{ section.idx }}),'{{ errorid }}')">Done</button>
      {% endset %}
      {{ header_at_level(header, section.level) }}
      <div class="error-block" id="{{ errorid }}"></div>
      <div id="{{ bodyid }}" contenteditable="true">{{ section.body|safe }}</div>
    </div>
  </div>
{% endif %}
