<html>
  <head>
    <title>{{ version.name }} - Thread</title>
    {% include 'scripts.html' %}
    {% include 'user-styles.html' %}
  </head>

  <body>
    {% include "modules/navbar.html" %}

    <h1>{{ version.name }}, AKA "{{ version.aka }}"</h1>
    <h3>{{ version.timestamp }}</h3>

    {% if g.page.can_edit %}
      <a href="{{ url_for('edit', title=g.page.title) }}">Edit page</a>
      <a href="{{ url_for('history', title=g.page.title) }}">History</a>
    {% endif %}
    <a href="{{ url_for('page', title=g.page.title) }}">Latest version</a>
    <span class="email">{{ g.page.owner.email }}</span>

    <div>{{ version.summary|safe }}</div>

    {% for section in version.sections %}
      {% from 'page-utils.html' import header_at_level %}
      {{ header_at_level(section.heading, section.level) }}
      <div>{{ section.body|safe }}</div>
    {% endfor %}
  </body>
</html>
