<div id="loginmodule">
  {% if g.user %}
    <p>Welcome, {{ g.user.name }}!</p>
  {% else %}
    {% if g.login_error %}
      <p>{{ g.login_error }}</p>
    {% endif %}
    <form id="loginform" onsubmit="login(event)">
      <label for="email">Email:</label>
      <input type="email" name="email">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <input type="submit">
    </form>
  {% endif %}
</div>

{% if not g.rerender %}
  <script>
    function login(event) {
      event.preventDefault();
      let form = document.getElementById("loginform");
      post("/authenticate", {
          email: form.elements["email"].value,
          password: form.elements["password"].value,
      }).then(data => {
        rerender(data.html);
      });
    }
  </script>
{% endif %}
