<div id="loginmodule">
  {% if g.user %}
    <p>Welcome, {{ g.user.email }}!
      <button type="button" onclick="logout(event)">Logout</button>
    </p>
  {% else %}
    {% if g.login_error %}
      <p>{{ g.login_error }}</p>
    {% endif %}
    <form id="loginform" onsubmit="login(event)">
      <span class="formrow">
        <label for="email">Email:</label>
        <input type="email" name="email">
      </span>
      <span class="formrow">
        <label for="password">Password:</label>
        <input type="password" name="password"></span>
      <input type="submit">
    </form>
  {% endif %}
</div>

{% if not g.rerender %}
  <script>
    function login(event) {
      event.preventDefault();
      let form = document.getElementById("loginform");
      post("{{ url_for('authenticate') }}", {
          email: form.elements["email"].value,
          password: form.elements["password"].value,
      }).then(data => {
        rerender(data.html);
      });
    }

    function logout(event) {
      event.preventDefault()
      post("{{ url_for('logout') }}").then((data) => {
        rerender(data.html);
      });
    }
  </script>

  <style>
    .formrow {
      display: inline-block;
    }
  </style>
{% endif %}
