{% if g.user != None and g.user.is_banned %}
<div class="error-alert">Lel, two of your edits were flagged, so your account ({{ g.user.email }}) has been automatically banned until {{ moment_timestamp(g.user.banned_until) }}.</div>
{% endif %}
<div class="error-alert" id="error-login"></div>
{% if g.user != None and g.user.passhash == None %}
  <div class="setpassword">
    <label for="password">Looks like your account ({{ g.user.email }}) hasn't set a password yet. Set one here:</label>
    <form id="password-form" onsubmit="setpassword(event)">
      <input type="password" name="password">
      <button type="submit">
        <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
        </svg>
      </button>
    </form>
  </div>
{% endif %}

<header>
  <div class="login-wrapper">
    <a class="logo" href="{{ url_for('recent') }}">thread</a>
    {% if not hide_header_login %}
      {% include 'modules/login.html' %}
    {% endif %}
  </div>

  <div class="logosearch">
    <a class="logo" href="{{ url_for('recent') }}">thread</a>
    {% include 'modules/search.html' %}
  </div>
  <div class="sublogo">a student directory wiki web</div>

  </div>

</header>
