{% if g.user != None and g.user.is_banned %}
<div class="error-alert">Lel, two of your edits were flagged, so your account ({{ g.user.email }}) has been automatically banned until {{ moment_timestamp(g.user.banned_until) }}.</div>
{% endif %}
<div class="error-alert" id="error-login"></div>
{% if g.user != None and g.user.passhash == None %}
  <div class="setpassword">
    <form id="password-form" onsubmit="setpassword(event)">
      <label for="password">Looks like your account ({{ g.user.email }}) hasn't set a password yet. Set one here:</label>
      <div class="form-row">
        <input type="password" name="password">
        <input type="submit">
      </div>
    </form>
  </div>
{% endif %}

<header>
  <div class="header-top">
    <span class="header-links">
      <!-- <span class="emoticon">:3</span> -->
      {% if g.user != None %}
        <a href="{{ url_for('bookmarks') }}">Bookmarks</a>
        <a href="{{ url_for('page', title=g.user.email) }}">Your page</a>
      {% endif %}
      <a href="{{ url_for('recent') }}">Recent edits</a>
      <a href="{{ url_for('page', title='FAQ') }}">FAQ</a>
    </span>

    {% if not hide_header_login %}
      {% include 'modules/login.html' %}
    {% endif %}
  </div>

  {% include 'modules/search.html' %}
</header>
